*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'PT Serif', serif;
	color: #fff;
}
#home{
	width: 100%;
	min-height: 700px;
	background-image: linear-gradient(rgba(30, 106, 184, 0.8),rgba(30, 106, 184, 0.8)),url(../images/homepage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

/* start header*/

header{
	max-width: 100%;
	min-height: 70px;
	margin: 0 auto;	
	padding: 0px 50px;
	
}
.nav{
	float: right;
	margin-top: 20px;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	float: left;
	margin-left: 20px;
}
a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
}
.logo{
	float: left;
	margin-top: 20px;
	padding: 10px;

}
.logo a{
	display: flex;
}
.logo a span:nth-child(1){
	font-size: 29px;	
}
.logo a span:nth-child(2){
	width: 2px;
	height: 30px;
	margin-left: 7px;
	background-color: #fff;
}
.logo a span:nth-child(3){
	width: 180px;
	font-size: 14px;
	color: #fffdfe;
	position: static;
	margin-left: 3px;
}
#dropdown{
	display: none;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
}
#dropdown-content{
	display: none;
	background-color: #fff;
	opacity: .9;
	z-index: 10;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 70px;
	text-align: center;
}
.close::before{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../images/close.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 25px;
	left: 10px;
	color: #333;
	cursor: pointer;
	
}
#dropdown-content a{
	display: block;
	width: 100%;
	height: 200px;
	font-size: 30px;
	color: #415d75;
	z-index: 10;
	opacity: 1;
	padding-left: 10px;
}

@media (max-width: 320px)  {
	
	.logo a{
		display: flex;
		
	}
	.logo{
		overflow: hidden;
	}
	.logo a span:nth-child(3){
	    margin-left: 4px;
		font-size: 12px;
    }
	
	.logo a span:nth-child(1){
	font-size: 20px;	
}


}
@media (max-width: 767px)  {  /*mobile table rules*/
	.nav{
		display: none;
	}
	header{
		display: flex;
		padding: 0 10px;
	}
	#dropdown{
	    display: inline-block;
	   	flex-basis: 10%;
     }
	#dropdown span{
		display: block;
		position: absolute;
        background-color: #fff;
        height: 3px;
	}
	#dropdown span:nth-child(1){
		top: 19px;
        width: 14px;
	}
	#dropdown span:nth-child(2){
		top: 27px;
        width: 27px;
	}
	#dropdown span:nth-child(3){
		top: 36px;
        width: 20px;
	}
	.logo{
		flex-basis: 90%;
		margin-left: 5px;
		margin-top: 10px;
	}
	
}
@media(max-width: 768px){    /* small screen rules*/

}
@media(min-width: 992px){   /* medium screen rules*/

}
@media(min-width: 1200px){  /* large screen rules*/

}
 

/*end header*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*start main*/
main{
	width: 100%;
}
main .container h2{
	max-width: 600px;
	font-size: 28px;
	font-weight: normal;
	line-height: 1.5;
}
.addres{
	margin-top: 137px;
}
.content{
	width: 100%;
	min-height: 370px;
	display: flex;
	flex-direction: row;
	margin-top: 90px;
	position: relative;
}
.description, .services{
	flex: 1;
	background-color: #fff;
	box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
	padding: 40px 0 100px 70px;	
	
}

.services img{
	position: absolute;
	top: 0;
	right: 50px;
}

.content p{
	color: #3d5a76;
	opacity: .8;
	line-height: 2;
	margin-right: 60px;
	font-size: 15px;
	
}
.content .services h2 , .content .description h2{
	color: #585858;
	font-size: 32px;
	letter-spacing: 1;
	opacity: .9;
}
.content button {
	background-color: #fff;
	border: 1px solid #d1e0f3;
	color: #3d5a76;
	opacity: .8;
	padding: 10px;
	outline: none;
	cursor: pointer;
}
.content button a{
	color: #3d5a76;
	opacity: .8;
}


@media (max-width: 767px)  {  /*mobile table rules*/
	main .container h2{
		max-width: 380px
	}
	.addres{
	   margin-top: 90px;
		padding-left: 10px;
		margin-left: 10px;
    }
	.content{
		flex-direction: column;
	}

}
@media(min-width: 768px){    /* small screen rules*/

}
@media(min-width: 992px){   /* medium screen rules*/

}
@media(min-width: 1200px){  /* large screen rules*/

}

/*end main*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*start footer*/
footer{


}
.homefooter{
	width: 100%;
	height: 40px;
	background-color: #15487d;
	opacity: .95;
	margin-top: -40px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	color: #93b9e0;
}

@media (max-width: 767px)  {  /*mobile table rules*/
	.homefooter{
		margin-top: 50px;
	}

}
@media(min-width: 768px){    /* small screen rules*/

}
@media(min-width: 992px){   /* medium screen rules*/

}
@media(min-width: 1200px){  /* large screen rules*/

}
/*end footer*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*start framework*/
.container{
	max-width: 900px;
	min-height: 300px;
	margin: 0 auto;
	padding: 0 20px;

}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.text-align{
	
}
.underline::after{
	content: " ";
	display: block;
	margin-top: 10px;
	height: 5px;
	width: 100px;
	background-color: #e1c653;
}
.sidebar .underline::after{
	width: 150px;
	height: 3px;
	position: absolute;
	right: 0;
}
.main-container .underline::after{
	width: 50px;
	height: 3px;
}
/*end framework*/
/*------------------- start about header------------------*/
#about{
	height: 1500px;
}                            
#about-header{
	width: 100%;
	min-height: 100px;
	background-image: linear-gradient(rgba(30, 106, 184, 0.8),rgba(30, 106, 184, 0.8)),url(../images/about_bg.jpg);
	background-position: center;
	padding: 0px 50px;
}
#phone{
	font-size: 15px;
	white-space: pre;
}


                                         /*------------------- end about header------------------*/
 
                                         /*------------------- start about main------------------*/
#main{
	display: flex;
	width: 100%;
}
.sidebar{
	flex-basis: 15%;
	border-right: 1px solid #e4dddd;
	background-color: #fbfbfb;
	text-align: center;
	position: relative;
	
}
.sidebar ul{
	margin-top: 80px;
	padding: 0;
	list-style: none;	
}
.sidebar ul a{
	color: #3d5a76;
	display: block;
	padding: 20px;
	
}
.sidebar ul li .active{
	font-weight: 400;
	font-size: 18px ;
}
.sidebar ul li{
	font-size: 15px ;
	
}
.icon-footer{
	position: absolute;
	bottom: 10px;
	padding-left: 30px;
}

@media (max-width: 767px)  {  /*mobile table rules*/
	#about-header{
		padding: 13px 10px 0;
		
	}
	.sidebar{
		display: none;
	}

}
#main-content{
	flex-basis: 85%;
	width: 100%;
}
.main-container{
	width: 80%;
	margin:70px auto;
	color: #585858;
}
.main-container h2{
	color: #3d5a76;
	padding: 20px 20px 20px 0;
	font-size: 28px;
	font-weight: 500;
}
.main-container p{
	color: #585858;
}
.mission .task{
	border-bottom: 1px solid #f5f0f0;
	padding-bottom: 20px;
}
.mission-flex{
	display: flex;
	flex-direction: row;
}
.mission-flex div{
	flex-basis: 50%;
}
.task p, .work p{
	padding: 0 320px 40px 0px !important;
	
}
.mission  p, .task p, .work p{
	opacity: .9;
	font-size: 14px;
	letter-spacing: 2;
	line-height: 2;
	position: relative;
	padding: 0 30px 40px 110px;
}
.mission-flex div:nth-of-type(1) p:nth-of-type(1)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 10px;
	background: url('../images/aboutus_sprite.png') no-repeat 0 0;
	width: 52px;
	height: 52px;
}
.mission-flex div:nth-of-type(1) p:nth-of-type(2)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 10px;
	top:15px ;
	background: url('../images/aboutus_sprite.png') no-repeat -65px -4px;
	width: 52px;
	height: 52px;
}
.mission-flex div:nth-of-type(2) p:nth-of-type(1)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 10px;
	background: url('../images/aboutus_sprite.png') no-repeat -191px -6px;
	width: 52px;
	height: 52px;
}
.mission-flex div:nth-of-type(2) p:nth-of-type(2)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 10px;
	top:15px ;
	background: url('../images/aboutus_sprite.png') no-repeat -130px -7px;
	width: 52px;
	height: 52px;
}
.mission, .task, .work{
	border-bottom: 1px solid #f5f0f0 !important;
}
.work-flex{
	display: flex;
	flex-direction: row;
}
.work-flex div{
	border: 1px solid  #f5f0f0;
	color: #3d5a76;
	width: 100%;
	padding: 35px 80px 35px 80px ;
	font-size: 16px;
	position: relative;
}
.work-flex div:nth-of-type(1)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 30px;
	top:30px;
	background: url('../images/aboutus_sprite.png') no-repeat -1px -74px;
	width: 42px;
	height: 30px;
}
.work-flex div:nth-of-type(2)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 30px;
	top:30px;
	background: url('../images/aboutus_sprite.png') no-repeat -51px -68px;
	width: 38px;
	height: 36px;

}
.work-flex div:nth-of-type(3)::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 30px;
	top:30px;
	background: url('../images/aboutus_sprite.png') no-repeat -97px -69px;
	width: 28px;
	height: 35px;
}






@media (max-width: 320px)  {
	.main-container h2{
		font-size: 20px;
	}
	.mission-flex div:nth-of-type(1) p:nth-of-type(1)::before{
	    display: none;
    }
	.mission-flex div:nth-of-type(1) p:nth-of-type(2)::before{
	    display: none;
    }
	.mission-flex div:nth-of-type(2) p:nth-of-type(1)::before{
	    display: none;
    }
	.mission-flex div:nth-of-type(2) p:nth-of-type(2)::before{
	    display: none;
    }
	.mission  p{
		padding: 10px ;
	}
	.task p{
	   padding: 0 10px !important;
	   border-bottom: none;
     }
	
}
@media (max-width: 767px)  {  /*mobile table rules*/
	.mission-flex{
	    display: flex;
	    flex-direction: column;
    }
	
	.task p , .work p{
	   padding: 0 !important;
     }
	.mission , .task , .work{
    	border-bottom:none !important;
   }
	.work-flex{
	   display: flex;
	  flex-direction: column;
   }
	.work-flex div{
		font-size: 14px;
		text-align: center;
		padding-right: 0;
		padding-left: 50px;
	}
		.work-flex div:nth-of-type(1)::before{	
	  position: absolute;
	   left: 5%;
	   top:30px;
    }
   .work-flex div:nth-of-type(2)::before{	
	   position: absolute;
	   left: 5%;
	   top:30px;
   }
   .work-flex div:nth-of-type(3)::before{
	   position: absolute;
	   left: 5%;
	   top:30px;
	
    }
	
}
@media(min-width: 768px){    /* small screen rules*/
	.icon-footer{
	    padding-left: 0px;
    }
	.task {
	   padding: 0 20px !important;
     }

}
@media(min-width: 768px) and (max-width :1200px){
	.work-flex div:nth-of-type(1)::before{	
	  position: absolute;
	   left: 5px;
	   top:30px;
		
	
    }
   .work-flex div:nth-of-type(2)::before{	
	   position: absolute;
	   left: 5px;
	   top:30px;
   }
   .work-flex div:nth-of-type(3)::before{
	   position: absolute;
	   left: 5px;
	   top:30px;
	
    }
	.work-flex div{
		font-size: 14px;
		padding-right: 0px;
		padding-left: 50px;
	}
}

                                         /*------------------- end about main------------------*/

                                            /*------------------- start  services------------------*/
 
                                         /*------------------- end services------------------*/